<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzy.mapper.PusedMapper">
	<!-- 	int insertPused(@Param("pused") Pused pused); -->
	<insert id="insertPused" parameterType="com.lzy.domain.Pused">
		insert into pused (
		pused_dep,
		pused_teacher,
		pused_for,
		pused_apply_time,
		pused_allow_time,
		pused_start_time,
		pused_end_time,
		pused_place)
		values(
		#{pused.pusedDep.depId},
		#{pused.pusedTeacher.adminId},
		#{pused.pusedFor},
		#{pused.pusedApplyTime},
		#{pused.pusedAllowTime},
		#{pused.pusedStartTime},
		#{pused.pusedEndTime},
		#{pused.pusedPlace.placeId})
	</insert>
	
	<!-- Pused findByPlaceId(Integer placeId); -->
		<select id="findByPlaceId"  parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select * from pused
				
		left join dep 
		on dep.dep_id = pused.pused_dep
		left join admin
		on admin.admin_id=pused.pused_teacher
		left join org
		on org.org_id= dep.dep_org
		where pused_place = #{placeId}
	</select>

	
  <resultMap id="BaseResultMap" type="com.lzy.domain.Pused">
    <id column="pused_id" jdbcType="INTEGER" property="pusedId" />
    <result column="pused_for" jdbcType="VARCHAR" property="pusedFor" />
    <result column="pused_apply_time" javaType="java.util.Date" property="pusedApplyTime"/>
    <result column="pused_allow_time" javaType="java.util.Date" property="pusedAllowTime" />
    <result column="pused_start_time" javaType="java.util.Date" property="pusedStartTime" />
    <result column="pused_end_time" javaType="java.util.Date" property="pusedEndTime" />
    <!-- 对一 -->
    <association property="pusedDep"
			javaType="com.lzy.domain.Dep"
			resultMap="com.lzy.mapper.DepMapper.BaseResultMap" />
    <association property="pusedTeacher"
			javaType="com.lzy.domain.Admin"
			resultMap="com.lzy.mapper.AdminMapper.BaseResultMap" />
  
    <association property="pusedPlace"
			javaType="com.lzy.domain.Place"
			resultMap="com.lzy.mapper.PlaceMapper.BaseResultMap" />
  </resultMap>
  
</mapper>